body{
    background-color: aliceblue;
}
.card-deck .card{
    width:300px;
}
.card-deck{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 15px;
}
img{
    width:300px;
    height: 300px;
}
.d-flex{
    width: 75%;
}
.btn-success{
    background-color: teal;
}
i{
    font-size: 20px;
}